/* #region reset css */
@import "cssres.css";
/* #endregion reset css */
/* #region variables */
/* #endregion variables */
/* #region lection common style */
.example,
.exmp {
  background-color: #2f5e3a5e;
}
.example-header,
.exmp-header {
  background-color: #0a584771;
}
.header {
  padding: 35px;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-style: italic;
}
.cont_lect {
  padding-left: 10%;
  padding-right: 10%;
}
.lection,
.lect {
  border-radius: 15px;
  padding: 25px;
  background-color: #C8A2C8;
  font-size: 24px;
}
.the-circle {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid #f00;
  margin: 30px calc((100vw - 100px)/2 - 10%);
}
/* #endregion lection  style */
/* #region bootstrap mod + homework 3 */
[class*='col'] {
  border: 1px solid #000;
  padding: 20px;
}
.row_first {
  height: 100px;
}
.row_main-content {
  height: 250px;
}
.col_title {
  padding: 30px;
  text-align: center;
}
.col_header,
.col_footer {
  text-align: center;
  padding: 10px;
}
@media (max-width: 576px) {
  .col_footer {
    display: none;
  }
}
.author {
  color: blue;
}
/* #endregion bootstrap mod + homework 3 */
/* #region the homework #1 */
.list {
  margin-top: 25px;
  margin-left: 25px;
}
.list__item-hw1_3 {
  background-color: #f00;
}
.table {
  border-radius: 10px;
  margin-left: calc((100vw - 300px)/2);
}
.tr,
.td,
.table {
  border-radius: 25px;
  width: 300px;
  border: 1px solid #000;
  text-align: center;
}
.img {
  width: 500px;
  border-radius: 10px;
  margin-left: calc((100vw - 500px)/2);
}
.iframe {
  width: 500px;
  height: 700px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  margin-left: calc((100vw - 500px)/2);
}
/* #endregion the homework #1 */
