// #region variables & mixins

@tc: #c8a2c8; // test color

@mw: 320px; // mobile width
@tw: 768px; // tablet width
@dw: 1120px; // desktop width

@mcs: 16px; // mobile content space
@tcs: 24px; // tablet content space
@dcs: 34px; // desktop content space



.centering-fix(@w) {
  padding-left: calc((100vw - @w) / 2);
  padding-right: calc((100vw - @w) / 2);
}

.centering(@w) {
  padding-left: @w;
  padding-right: @w;
}


.selected-btn() {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #fff;
}

.not-selected-btn() {
  background-color: inherit;
  border: 2px solid #0000;
}

// #endregion variables & mixins

/* #region common */

ul,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.body {
  background-color: #F8F8F8;
}

a {
  text-decoration: none;

  &,
  &:visited,
  &:hover {
    color: inherit;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* #endregion common */

/* #region fonts */

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* #endregion fonts */

/* #region header */

.header {

  background-color: #fff;
  .centering(@mcs);

  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 320px;

  .nav {
    &__link {

      padding-right: 17px;

      @media (min-width: 768px) {
        padding-right: 42px;

        &:after {
          content: "";
          display: block;
          width: 2px;
          height: 32px;
          position: absolute;
          left: 60px;
          top: 4px;
          background-image: url(../img/divider.svg);
        }
      }
    }
  }

  &__nav {
    display: flex;
    position: relative;
  }

  &__right-group {
    display: flex;
  }


  &__divider {

    &--first {
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-left: 20px;
        margin-right: 21px;
      }

    }

    &--second {
      margin-left: 17px;
      margin-right: 20px;

      @media (min-width: 768px) {
        margin: 0 20px;
      }
    }

  }

  @media (min-width: 768px) {
    .centering(@tcs);

    &__logo {
      margin-right: 251px;
    }
  }

  @media (min-width: @dw) {
    display: none;
  }
}

.logo {
  display: block;
  width: 97px;
  height: 51px;
}

.contact-us {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &--side-menu {
    margin-bottom: 16px;
  }
}

.repair-check {
  font-size: 0;
  position: relative;

  display: flex;

  &--hdr {
    padding-left: 42px;

    &:after {
      content: "";
      width: 2px;
      height: 32px;
      display: block;
      background-image: url(../img/divider.svg);
      position: absolute;
      left: 20px;
      top: 4px;
    }

    @media (min-width: @dw ) {
      display: none;
    }
  }

  &--srv {
    display: none;

    @media (min-width: @dw) {
      display: flex;
      padding-right: 32px;
    }
  }

  &__item:first-child {
    margin-right: 16px;

    @media (min-width: @dw) {
      margin-right: 32px;
    }
  }

  &__link {

    @media (min-width: @dw) {
      display: flex;
      align-items: center;
    }
  }

  &__text {
    display: none;

    @media (min-width: @dw) {
      display: inline;
      margin-right: 8px;
      font: 500 normal 16px/24px "TT Lakes", sans-serif;
      color: #1B1C21;
    }
  }
}

/* #endregion header */

/* #region main */

.main {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  @media (min-width: @dw) {
    .centering-fix(@dw);
  }
}

.highlight-line-wrapper {
  display: flex;
}

.services {

  &__heading {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    padding: 0 @mcs;
    position: relative;

    @media (min-width: 768px) {
      padding-left: @tcs;
    }

    @media (min-width: @dw) {
      padding-left: @dcs;
    }

    &:before {
      content: '';
      width: 4px;
      height: 40px;
      display: block;
      background: url(../img/highlight.svg);
      position: absolute;
      left: 0;

      @media (min-width: @dw) {
        width: 3px;
        height: 40px;
        background: url(../img/highlight-full.svg);
        left: 1px;
      }

    }
  }

  &__top-wrapper {
    margin: 24px 0 0;

    @media (min-width: @dw) {
      margin: 42px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__fade-wrapper {
    position: relative;

    overflow-y: visible;

    &:after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 24px;
      width: 24px;
      height: 40px;
      background: linear-gradient(90deg, #0000, #F8F8F8);

      @media (min-width: 768px) {
        top: 32px;
      }

      @media (min-width: @dw) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: @mcs;
    padding-right: @mcs;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;

    @media (min-width: 768px) {
      padding-left: @tcs;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @media (min-width: @dw) {
      padding-top: 8px;
      padding-bottom: 16px;
      flex-wrap: wrap;
      padding-left: @dcs;
      overflow: visible;
    }
  }

  &__item {

    @media (min-width: @dw) {

      &:nth-child(5) {
        display: block;
      }
    }
  }

  .test-focus {
    outline: 0;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
  }

  &__link {
    display: inline-block;
    outline: 0;
    background: inherit;
    border: 2px solid #0000;
    border-radius: 6px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    padding: 6px 7px 6px 15px;

    &,
    &:visited,
    &:hover {
      color: #7e7e82;
    }

    @media (min-width: @dw) {
      padding: 7px 20px 5px 21px;
    }

    &:focus {
      outline: 0;
      border: 2px solid #B8FFEC;
      border-radius: 6px;
      background-color: #fff;
    }


    &:active {
      box-shadow: 0 0 5px 2px hsl(164, 100%, 50%);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__reading {
    flex-basis: 50%;
    flex-shrink: 1;
    padding: 0 @mcs @mcs;

    @media (min-width: 768px) {
      padding: 0 48px 0 @tcs;
    }

    @media (min-width: @dw) {
      padding: 0 36px 0 @dcs;
    }

  }

  &__paragraphs {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    overflow-y: hidden;
    min-width: 288px;
    height: 90px;

    @media (min-width: 768px) {
      min-width: 312px;
      height: 160px;
      margin-bottom: 10px;
    }

    @media (min-width: @dw) {
      width: 490px;
      height: 160px;
      margin-bottom: 14px;
    }
  }

  &__text {
    font: normal normal normal 14px/18px 'TT Lakes', sans-serif;
    color: #1b1c21;

    @media (min-width: 768px) {
      line-height: 20px;

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }

  &__img {
    &-content {
      display: inline-block;
      min-width: 320px;
      max-width: 100%;
      object-fit: contain;
    }

    object-fit: cover;
    flex-basis: 50%;
    flex-shrink: 2;
    min-width: 320px;
    max-width: 100%;

    @media (min-width: 768px) {
      min-width: 360px;
    }

    @media (min-width: @dw) {
      width: 531px;
      height: 307px;
    }
  }

}


.expand {
  cursor: pointer;
  font: 500 normal 16px/24px 'TT Lakes', sans-serif;
  color: #1b1c21;
  padding-bottom: @mcs;
  position: relative;
  padding-left: 32px;

  border: 0;
  outline: unset;
  background-color: inherit;

  @media (min-width: 768px) {
    padding-left: 33px;
  }

  &:before {
    content: '';
    width: 20px;
    height: 24px;
    display: block;
    background-image: url(../img/expand.svg);
    position: absolute;
    left: 0;
  }
}

/* #endregion main */

/* #region side menu */

.side-menu {
  padding: 19px 24px 46px;
  width: 320px;
  height: 100vh;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }

  &__button {
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    background: #FF3E79 no-repeat 50%;
    cursor: pointer;
    transition: opacity .3s linear;

    &:hover {
      opacity: .6;
    }

    &--close {
      background-image: url(../img/close-cross.svg);
      margin-right: 17px;
    }

    &--search {
      background-image: url(../img/search-icon.svg);
    }

    &--call {
      background-image: url(../img/call-icon.svg);
    }

    &--chat {
      background-image: url(../img/chat-icon.svg);
      background-position: 50% 53%;
    }

    &--account {
      background-image: url(../img/account-icon.svg);
    }
  }

  &__logo {
    margin-right: 78px;
    transition: filter .3s linear;

    &:hover {
      filter: drop-shadow(0 0 2px #41F6D7);
    }
  }

  &__item {
    cursor: pointer;
    font: 500 normal 16px/24px "TT Lakes", sans-serif;
    color: #1B1C21;
    margin-bottom: 32px;
    position: relative;
    transition: background-color .5s linear, box-shadow .5s ease;
    border-radius: 6px;

    &:hover {
      background-color: #41f6d83f; // #41F6D7
      box-shadow: 0 0 5px #000;
    }

    &--active {
      color: #7E7E82;

      &:before {
        content: '';
        width: 4px;
        height: 32px;
        background-image: url(../img/highlight.svg);
        background-size: 4px 32px;
        position: absolute;
        top: -4px;
        left: -24px;
      }
    }
  }


  &__address {
    display: flex;
    flex-direction: column;
  }

  &__mail {
    font: 500 normal 16px/24px "TT Lakes", sans-serif;
    color: #1b1c21;
    margin-bottom: 12px;
  }

  &__tel {
    font: bold normal 24px/32px "TT Lakes", sans-serif;
    margin-bottom: 40px;

  }

  .language-list {
    display: flex;

    &__item {
      text-transform: uppercase;
      font-weight: 500;
      font-style: normal;
      font: 16px/24px "TT Lakes", sans-serif;
      color: #1b1c21;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color .3s linear;

      &:hover {
        background: #0000002c;
      }

      &:not(:last-child) {
        margin-right: 7px;
      }

      &--selected {
        color: #737382;
      }
    }
  }

}

/* #endregion side menu */