@use '../../variables.scss' as *;

.article {
  padding: 20px;
  background: #fff;
  margin: 20px;
  box-shadow: 0 1px 3px #0000001a;

  &Header {
    display: flex;
    justify-content: space-between;
    &__mainGroup {
      display: flex;
      flex-direction: column;
    }
  }

  &Title {
    font-family: 'Inter';
    font-weight: 600;
    color: $info-color;
    font-size: 20px;
    line-height: 28px;
    font-size: 18px;
  }

  .likes {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 22px;
    margin-left: 10px;
    color: $text-color;
  }

  &Description {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 22px;
    color: $secondary-color;
    padding-top: 16px;
  }

  &AuthorAndDate {
    display: flex;

    .userNameAndCreationDate {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      .userName {
        font-family: 'Inter';
        font-size: 18px;
        line-height: 28px;
        display: block;
        color: $heading-color;
        font-weight: 400;
      }
      .creationDate {
        font-family: 'Inter';
        font-size: 12px;
        line-height: 22px;
        color: $secondary-color;
        align-self: flex-end;
      }
    }

    .userImage {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  .tags {
    display: flex;
    gap: 8px;
  }
  .tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    box-sizing: border-box;
    padding: 5px;
    border: 1px solid $tag-color;
    border-radius: 3px;
  }

  &Image {
    width: 50%;
    height: auto;
  }
}
