.my-swiper__slide {
  width: 100px;
}
.my-swiper__slide--1 {
  background-color: purple;
}
.my-swiper__slide--2 {
  background-color: green;
}
.my-swiper__wrapper {
  background-color: #c2a8c2;
}
@media (min-width: 768px) {
  .my-swiper__wrapper {
    display: flex;
  }
}
.swiper-slide {
  height: 100px;
}
