.my-swiper {
  &__slide {

    width: 100px;

    &--1 {
      background-color: purple;
    }

    &--2 {
      background-color: green;
    }
  }
}

.my-swiper__wrapper {
  background-color: #c2a8c2;

  @media (min-width: 768px) {
    display: flex;
  }
}

.swiper-slide {
  // width: 80%;

  &:not(:last-child) {
    // margin-right: 20px;
  }

  height: 100px;
}