@import "../css/style.less";


:root {
  --swiper-pagination-bullet-size: 12px;
}

.zero() {
  padding: 0;
  margin: 0;
}


@sww: 240px; // swiper width
@swh: 72px; // swiper hight


.body {
  .zero();
  background-color: #F2F2F2;
}

.repair {
  &__header {
    .zero();
    background-image: linear-gradient(#f8f8f8, #ffffff);
    height: 80px;
    margin-bottom: 16px;
    padding: 16px 16px 0;
    font: normal normal 16px/24px 'TT Lakes', sans-serif;
    text-transform: uppercase;
    color: #7e7382;
  }
}

.my-swiper {
  &__slide {
    background-color: #ffffff;

    width: 100px;
    height: @swh;

    &:before {
      content: '';
      width: 40px;
      height: 40px;
      display: block;
      background-image: url(../img/go-btn.svg);
      position: absolute;
      top: 16px;
      right: 16px;
    }

    @media (min-width: 768px) {
      width: 100%;
    }


    // &--1 {
    //   background-color: purple;
    // }

    // &--2 {
    //   background-color: green;
    // }

    // &--3 {
    //   background-color: orange;
    // }
  }
}

.my-swiper__wrapper {
  transition: max-height 1s;
  position: relative;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 24px;
    max-height: 160px;
    overflow: hidden;
  }

  @media (min-width: @dw) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px 32px;
  }


}


.brand-container {
  position: relative;
  padding-left: 16px;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: @dw) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.swiper-pagination {
  // position: absolute;
  top: @swh+16px !important;
}