.app {
  height: 100%;
  .ant-alert {
    margin-top: 100px;
    border-radius: 10px;
    white-space: pre-wrap;
  }

  .ant-tabs-nav-wrap {
    justify-content: center;
  }

  // Стили для поля ввода
  .ant-input {
    display: block;
  }

  // Стили для пагинации
  .ant-pagination {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    li {
      color: #fff;
    }
  }
  .ant-pagination-item {
    background-color: #f7f7f7;
    font-size: 12px;
  }
  .ant-pagination-item-active {
    background-color: #1890ff;
    a {
      color: #fff;
    }
  }
  .input-class {
    display: block;
    margin: 20px auto;
    max-width: 938px;
    @media (max-width: 967px) {
      max-width: 451px;
    }
    @media (max-width: 575px) {
      width: calc(100% - 30px);
    }
  }
}
