$tag-color: #00000080;
$info-color: #1890ff;
$heading-color: #000000d9;
$secondary-color: #00000080;
$text-color: #000000bf;
$success-color: #52c41a;
$form-color: #262626;
$form-color-1: #595959;
$form-color-2: #8c8c8c;
