/* #region common */

.body {
  position: relative;
  box-sizing: border-box;
  background-color: $body-bg-color;
  @include zero();
}

a {
  text-decoration: none;

  &,
  &:visited,
  &:hover {
    color: inherit;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-final-border {
  border-bottom: unset !important;
}

.global-wrapper {
  display: flex;
  @media (min-width: $desktop-width) {
    @include centering-fix($desktop-width);
  }
}
.content-wrapper {
  display: grid;

  flex: 0 0 100%;
  @media (min-width: 1440px) {
    max-width: 1120px;
  }
}

/* #endregion common */
