/* #region common */

.body {
  position: relative;
  box-sizing: border-box;
  background-color: $body-bg-color;
  @include zero();
}

a {
  text-decoration: none;

  &,
  &:visited,
  &:hover {
    color: inherit;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-final-border {
  border-bottom: unset !important;
}

// .header,
// .main,
// .footer,
// .body {
//   position: relative;
//   z-index: -1000;
// }
.test-cont {
  position: relative;
  z-index: 0;
}

/* #endregion common */
