.my-swiper {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 81px;
    background: linear-gradient(90deg, #f8f8f800, #f8f8f8);
    top: 0;
    right: 0;
    z-index: 10;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__slide {
    position: relative;
    background-color: $body-contrast-color;

    width: 100px;
    height: $swh;
    z-index: 1;

    border-radius: 6px;
    border: 1px solid #eaeaea;

    @media (min-width: 768px) {
      width: 100%;
    }

    &:hover {
      box-shadow: inset 0 0 5px 2px #41f6d7;
    }

    &:before {
      content: '';
      width: 40px;
      height: 40px;
      display: block;
      background-image: url(../img/go-btn.svg);
      position: absolute;
      top: 16px;
      right: 16px;

      &:hover {
        box-shadow: 0 0 5px 2px #41f6d7;
        z-index: 10;
      }
    }

    &--lenovo {
      @include brands-bg('../img/lenovo.png');
    }

    &--samsung {
      @include brands-bg('../img/samsung.png');
    }

    &--apple {
      @include brands-bg('../img/apple.png');
    }

    &--viewsonic {
      @include brands-bg('../img/viewsonic.png');
    }

    &--bosh {
      @include brands-bg('../img/bosh.png');
    }

    &--hp {
      @include brands-bg('../img/hp.png');
    }

    &--acer {
      @include brands-bg('../img/acer.png');
    }

    &--sony {
      @include brands-bg('../img/sony.png');
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    @include list-res();
    transition: max-height 1s;
    position: relative;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px 24px;
      max-height: 160px;
      overflow: hidden;
    }

    @media (min-width: $dw) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 16px 32px;
    }

    &--opened {
      max-height: 350px;
    }
  }
}
