$tc: #c8a2c8; // test color

$mw: 320px; // mobile width
$tw: 768px; // tablet width
$dw: 1120px; // desktop width

$mcs: 16px; // mobile content space
$tcs: 24px; // tablet content space
$dcs: 34px; // desktop content space

/* #region colors */

$bdbc: #f8f8f8; // body bacground-color

/* #endregion colors */
