$mobile-width: 320px;
$table-width: 768px;
$desktop-width: 1120px;

$mobile-content-space: 16px;
$table-content-space: 24px;
$desktop-content-space: 34px;

/* #region swiper variables */

:root {
  --swiper-pagination-bullet-size: 12px;
}

$swiper-width: 240px;
$swiper-height: 72px;

/* #endregion swiper variables */

/* #region colors */

$body-bg-color: #f8f8f8; // body bacground-color
$body-contrast-color: #ffffff;
$nav-link-color-0: #7e7e82; // navigation link color 0
$main-heading-color: #1b1c21;
$text-color-0: #1b1c21;
$btn-color-0: #1b1c21; // button color 0
$btn-color-1: #ff3e79; // button color 1
$hover-color-0: #41f6d83f;
$lng-selected-color: #737382; // language selected color
$swiper-header-color: #7e7382;
$accent-color: #41f6d7;
$divider-line-color: #eaeaea;
$swiper-top-line-color: #d9fff5;
$blur-color: #979797ee;

/* #endregion colors */
