$tc: #c8a2c8; // test color

$mw: 320px; // mobile width
$tw: 768px; // tablet width
$dw: 1120px; // desktop width

$mcs: 16px; // mobile content space
$tcs: 24px; // tablet content space
$dcs: 34px; // desktop content space

/* #region swiper variables */

:root {
  --swiper-pagination-bullet-size: 12px;
}

$sww: 240px; // swiper width
$swh: 72px; // swiper hight

/* #endregion swiper variables */

/* #region colors */

$body-bg-color: #f8f8f8; // body bacground-color
$body-contrast-color: #ffffff; // contrast body color
$nav-link-color-0: #7e7e82; // navigation link color 0
$main-heading-color: #1b1c21;
$text-color-0: #1b1c21;
$btn-color-0: #1b1c21; // buttont color 0
$hover-color-0: #41f6d83f;
$lng-selected-color: #737382; // language selected color
$swiper-header-color: #7e7382;

/* #endregion colors */
