.app {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;

    .logo {
      color: rgba(0, 0, 0, 0.85);
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      line-height: 28px;
      &Link {
        text-decoration: none;
      }
    }

    .authButtons {
      button {
        width: 110px;
        height: 50px;
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 28px;
        margin-left: 10px;
        padding: 5px 15px;
        background-color: #fff;
        cursor: pointer;
      }
      .signIn {
        border: 0;
      }
      .signUp {
        border: 1px solid #52c41a;
        color: #52c41a;
      }
    }
  }
}
.loading {
  color: #666;
  text-align: center;
  padding: 20px;
}

.error {
  color: #ff4444;
  text-align: center;
  padding: 20px;
}
